@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  background-color: #189ad3;
}

/* GAME START  */
.coin-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
}

/* GAME END  */

/* COOKIE AMOUNT START  */
.cookies-amount-div {
  background-color: #005073;
  color: white;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.cookies-amount-div h1 {
  margin: 0;
}

.cookies-amount-div h3 {
  margin: 0;
}

/* COOKIE AMOUNT END  */

/* COOKIE IMAGE START  */

.coin-img-div img {
  width: 10rem;
}

/* COOKIE IMAGE END  */

/* SHOP START  */
.shop-upgrades-div {
  background-color: red;
  color: white;
  font-weight: bold;
  user-select: none;
}
.shop-div {
  display: flex;
}
.shop-div div {
  margin: 0.5rem;
  border-radius: 50%;
  padding: 1rem;
  width: 6rem;
  height: 6rem;
  text-align: center;
}

/* SHOP END  */
